body {
    background-color: #9b9b9b;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6d6d6d;
}

a:link 
{ 
    text-decoration:none; 
    color: black;
}

#salon_livre {

    font-size: 25px;
    font-weight: bold;
}

#nav-bar a{
    font-size: 20px;
}

#nav-bar a:hover{
    background-color: rgb(89, 89, 89)
}