body {
    background-color: #9b9b9b;
}

#names {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#descript {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a:any-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 0, 112);
}

img {
    width: 150px;
}